{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "32407cca0baefa10c3e5f2a3ac50462e51bd821f"
                            #_#_:local/root "../open-source"}}}
