{:paths ["src" "resources"]
 :deps  {lambdaisland/data-printers {:local/root "/home/arne/github/lambdaisland/data-printers" #_#_:mvn/version "0.0.22"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.866"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha          {:mvn/version "1.0.861"}
                 org.clojure/test.check       {:mvn/version "1.1.0"}
                 com.lambdaisland/kaocha-cljs {:mvn/version "1.0.93"}}}}}
